
.tweet-sheet {

  .tweet-sheet-actions {
    a, button {
      margin-left: 5px;
    }
  }

  .tweet-sheet-progress {
    margin-bottom: 1.5em;
    p.subtitle {
      margin-bottom: 0.5em;
    }
    progress {
      margin-top: 1em;
    }
  }

  td {
    line-height: 2em;
  }

  .tweet-completion {
    text-align: center;
    i {
      font-size: 2em;
    }
    .tweet-complete {
      color: #888;
    }
    .tweet-incomplete {
      color: #ccc;
    }
  }

  a.tweet-link:visited span.icon i {
    color: #ddd;
  }

  .download-csv {
    margin-bottom: 1.5em;
  }

}
