
.tweet-sheet {

  .tweet-completion {
    font-size: 400%;
    i {
      margin-top: 21px;
    }

    .tweet-complete {
      color: #ccc;
    }
    .tweet-incomplete {
      color: #afa;
    }
  }



  a.tweet-link:visited {
    background-color: #23d160;
  }


  p:not(:last-child).tweet-index {
    font-size: 400%;
    margin-bottom: 0px;
    color: #ccc;
  }

  .download-csv {
    margin-bottom: 1.5em;
  }

}
